*{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: black;
	outline: none;
}
body{
	width: 1450px;
	background: url("../images/BGP/02.jpg") fixed no-repeat;
	z-index: -1;
	background-size: cover;
}
#Textarea{		
	font-weight: 500;
	font-weight: 400;
	letter-spacing: 1px;
	border: 1.5px solid black;
	font-size: 20px;
	background-color: transparent; 
	overflow: hidden;
	resize: none; 
	margin-top: 10px; 
	border-radius: 3px; 
	outline:none;
}
#Textarea::placeholder{
	color: transparent;
}
#Textarea:focus::placeholder{
	color: #aaa;
}
#Connect{
	letter-spacing: 1px;
	background-color: transparent; 
	margin-top: 10px;
	font-size: 20px; 
	width: 420px; 
	outline: none; 
	height: 30px; 
	border: 1.5px solid black;
	border-radius: 3px;
}
#Connect::placeholder{
	color: transparent;
}
#Connect:focus::placeholder{
	color: #aaa;
}
.SuBtn{
	font-size: 18px;
	background-color: transparent;
	width: 100px;
	height: 30px;
	border: 0px;
	box-shadow: 0px 0px 2px black;
	border-radius: 3px;
	outline-color: black;
	float: left;
	transition: 0.2s;
	margin-left: 140px;
}
.SuBtn:hover{
	cursor: pointer;
	box-shadow: 0px 0px 4px black;
}
/*background with a effect*/
#MainPart{
	text-align: center;
    float: left;
    position: fixed;
    width: 500px;
    height: 460px;
    top: 140px;
    left: 475px;
	z-index: 1;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	box-shadow: 0px 0px 3px black;
}
#MainPart:after{
	z-index: -1;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background-position: center top;
	background-size: cover;
	background-image: url("../images/BGP/02.jpg");
	background-attachment: fixed;
	filter: blur(5px);
	-webkit-filter: blur(5px);
}
