*{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: black;
	outline: none;
	transition: 0.2s;
}
a:hover{
	color: grey;
}
body{
	z-index: -1;
	width: 1450px;
	height: 1000px;
}
.sidenav{
	height: 100%;
	width: 220px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(25, 25, 25, 0.8);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidenav a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.plco{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #909090;
}
.plco:hover{
	cursor: pointer;
	color: #f1f1f1;
}
#PfBar a, #CpBar a{
	font-size: 20px;
	color: #606060;
}

.sidenav a:hover, .offcanvas a:hover{
	color: #f1f1f1;
}

#PfBar{
	width: 250px;
	height: 160px;
	margin-left: 20px;
	margin-top: 5px;
	overflow-x: hidden;
	transition: 0.4s;
}
#PfBar a:hover, #CpBar a:hover{
	color: #f1f1f1;
}
#CpBar{
	width: 250px;
	height: 160px;
	margin-top: 5px;
	margin-left: 20px;
	overflow-x: hidden;
	transition: 0.4s;
}
.BGP{
	background: url("../images/BGP/40.jpg") no-repeat;
	background-size: 1450px auto;
	width: 1450px;
	height: 500px;
}
.profile{
	width: 150px;
	height: 150px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-left: 650px;
	margin-top: -80px;
}
.Username{
 	font-size: 25px; 
	font-weight: bold;
	margin-left: 645px;
}
.Word{
	margin-top: 5px;
	margin-left: 640px;
	font-size: 16px;
	color: grey;
}
.LC{
	margin-left: 420px;
	font-size: 20px;
}
.LC div{
	float: left;
	line-height: 35px;
	text-align: center;
	border: 2px solid rgba(25, 25, 25, 0.8);
	width: 300px;
	height: 35px;
	transition: 0.3s;
}
.LC div:hover{
	cursor: pointer !important;
	color: white !important;
	background-color: rgba(25, 25, 25, 0.8) !important;
}
.btnvisited{
	float: left;
	line-height: 35px;
	text-align: center;
	border: 2px solid rgba(25, 25, 25, 0.8);
	width: 300px;
	height: 35px;
	transition: 0.3s;
	cursor: pointer;
	color: white;
	background-color: rgba(25, 25, 25, 0.8);
}
#commentbtn{
	margin-left: 20px;
}
.ContentPart>div{
	width: 800px;	
	height: 800px;
	margin-left: 350px;
	margin-top: 80px;
}
#LGames{
	visibility: visible;
	top: 600px;
	left: 0px;
	position: absolute;
	display: block;
	width: 800px;
	height: 800px;
}
#LGames.lgdisappear{
	visibility: visible;
	animation: lgdis 1s;
	-webkit-animation: lgdis 1s;
}
@keyframes lgdis {
	from { left: 0px; opacity: 1; }	
	to { left: -800px; opacity: 0; }
}
@-webkit-keyframes lgdis {
	from { left: 0px; opacity: 1; }	
	to { left: -800px; opacity: 0; }
}
#LGames.lgappear{
	visibility: visible;
	animation: lgshow 1s;
	-webkit-animation: lgshow 1s;
}
@keyframes lgshow {
	from { left: -800px; opacity: 0; }	
	to { left: 0px; opacity: 1; }
}
@-webkit-keyframes lgshow {
	from { left: -800px; opacity: 0; }	
	to { left: 0px; opacity: 1; }
}

#LGames>a{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 0px 0px 3px grey;
	width: 240px;
	height: 120px;
	transition: 0.2s;
}
#LGames>a:hover{
	cursor: pointer;
	box-shadow: 0px 0px 8px grey;
	color: black;
}
#Comment{
	visibility: hidden;
	top: 600px;
	left: 0px;
	position: absolute;
	width: 800px;
	height: 800px;
}
#Comment.coappear{
	visibility: visible;
	animation: coshow 1s;
	-webkit-animation: coshow 1s;
}
@keyframes coshow{
	from { left: 800px; opacity: 0; }	
	to { left: 0px; opacity: 1; }
}
@-webkit-keyframes coshow{
	from { left: 800px; opacity: 0; }	
	to { left: 0px; opacity: 1; }
}
#Comment.codisappear{
	visibility: visible;
	animation: cohide 1s;
	-webkit-animation: cohide 1s;
}
@keyframes cohide{
	from { left: 0px; opacity: 1; }	
	to { left: 800px; opacity: 0; }
}
@-webkit-keyframes cohide{
	from { left: 0px; opacity: 1; }	
	to { left: 800px; opacity: 0; }
}
#Comment>div{
	float: left;
	width: 750px;
	height: 100px;
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: 0px 0px 3px grey;
}
#mySidenav{
    z-index: 1;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 3px black;
}
#mySidenav:after{
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-position: center top;
    background-size: cover;
    background-image: url("../images/BGP/40.jpg");
    background-attachment: fixed;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.com div{
	float: left; 
	width: 680px; 
	_height: 100px;	
} 
.com img{
	float: left;
}
.com>div>p{
	margin-top: 15px; 
	margin-left: 10px;
}
.com>div>span{
	float: right; 
	margin-top: 40px;
}
#LGames>a>img{
	float: left;
	margin-right: 10px;
	height: 120px;
}
#LGames>a>div{
	float: left;
}
#LGames>a>div>div:first-child{
	font-size: 22px; 
	margin-top: 5px;
}
#LGames>a>div>div:nth-child(2){
	font-size: 18px; 
	font-weight: bold;
}
#LGames>a>div>div:nth-child(3){
	font-size: 12px; 
}
#LGames>a>div>div:nth-child(4){
	font-size: 14px; 
	color: grey;
	margin-top: 25px;
}
