*{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body{
	background: url("../images/40.jpg");
	background-size: cover;
}
#suusername, #supwd, #copwd{
	border: 0px;
	border-radius: 0px 3px 3px 0px;
	height: 30px;
	width: 200px;
	background-color: #efefef;
	outline: 0;
	transition:.3s ease-in-out;
	text-indent: 100px;
}
#suusername::-webkit-input-placeholder,
#supwd::-webkit-input-placeholder,
#copwd::-webkit-input-placeholder{
	text-indent: 20px;
	color: #efefef;
}
#suusername:focus::-webkit-input-placeholder,
#supwd:focus::-webkit-input-placeholder,
#copwd:focus::-webkit-input-placeholder{
	color: #aaa;
}
#suusername:focus,
#supwd:focus,
#copwd:focus{
	text-indent: 20px;
}
#suusername:focus + label,
#supwd:focus + label,
#copwd:focus + label{
	transform: perspective(400px) translateX(-70%) rotateY(70deg);
}
#suusername + label,
#supwd + label,
#copwd + label{
	position: absolute;
	left: 144px;
	width: 90px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	background-color: #a3a7a7;
	border-radius: 3px 0px 0px 3px;
	transition: .3s ease-in-out;
	transform-origin: right center;
	transform: perspective(300px) scaleX(1) rotateY(0deg);
}
label:hover{
	cursor: pointer;
}
#Register{
	text-align: center;
    float: left;
    position: fixed;
    width: 500px;
    height: 460px;
    top: 140px;
    left: 475px;
}
#BacktoLogin{
    float: right;
	margin-top: 70px;
	margin-right: 20px;
}
#BacktoLogin:hover{
    cursor: pointer;
    color: white;
}
.SuBtn{
	background-color: #a3a7a7;
	width: 100px;
	height: 30px;
	border: 0px;
	border-radius: 3px;
	outline-color: black;
	float: left;
	margin-left: 140px;
}
.SuBtn:hover{
	cursor: pointer;
	box-shadow: 0px 0px 3px grey;
}
/*background with a effect*/
#Register{
	z-index: 1;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	box-shadow: 0px 0px 3px black;
}
#Register:after{
	z-index: -1;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background-position: center top;
	background-size: cover;
	background-image: url("../images/40.jpg");
	background-attachment: fixed;
	filter: blur(2px);
	-webkit-filter: blur(2px);
}
